@keyframes drawPath {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes colorFlash {
  0% {
    fill: none;
    stroke: #8080f7;
  }
  80% {
    fill: #8080f700;
    stroke: #8080f7;
  }
  100% {
    fill: #8080f7ff;
    stroke: #8080f7;
  }
}

.logo-path {
  stroke-dasharray: 5000;
  animation:
    drawPath 2.5s ease-in-out forwards,
    colorFlash 2.5s ease-in-out forwards;
}
