---
import { processLink } from "../utils/goto";

type Props = {
  links: {
    name: string;
    link: string;
    desc: string;
    img: string;
  }[];
};
const { links } = Astro.props;
---

<ul class="flex flex-wrap gap-1 justify-center max-w-285 mx-auto mt-8">
  {
    links
      .filter((link) => link.link)
      .map((link) => (
        <li>
          <a
            href={processLink(link.link)}
            target="_blank"
            rel="noopener noreferrer"
            class="group no-underline! text-gray-500 dark:text-gray-400 hover:bg-primary/10 dark:hover:bg-primary/20 p-2! rounded transition-all duration-300 ease-in-out text-xs"
          >
            <img
              src={link.img}
              alt={link.name}
              class="w-4 h-4 inline-block mr-1 rounded-full opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
            />
            {link.name}
          </a>
        </li>
      ))
  }
</ul>
