---
import { processLink } from "../utils/goto";

type Props = {
  links: {
    name: string;
    link: string;
    desc: string;
    img: string;
  }[];
};
const { links } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
  {
    links
      .filter((link) => link.link)
      .map((link) => (
        <a 
          href={processLink(link.link)} 
          target="_blank" 
          rel="noopener noreferrer" 
          class="no-style group flex items-center gap-3 p-2! rounded-lg transition-all duration-300 hover:bg-primary/20 dark:hover:bg-primary/30"
        >
          <img 
            src={link.img} 
            alt={link.name} 
            class="no-style w-12 h-12 rounded-full shrink-0 transition-transform duration-300 group-hover:rotate-6" 
          />
          <div class="flex-1 min-w-0">
            <h3 class="no-style p-2 no-underline! text-sm font-medium text-gray-900 dark:text-white group-hover:text-blue-600 dark:group-hover:text-blue-400 transition-colors duration-300 truncate line-clamp-1">
              {link.name}
            </h3>
            <p class="no-style p-2 no-underline! text-xs text-gray-500 dark:text-slate-400 line-clamp-2">
              {link.desc || '暂无描述'}
            </p>
          </div>
        </a>
      ))
  }
</div>
